@import url("https://use.typekit.net/mao7wyd.css");

:root {
  --blue: #0f1972;
  --grey: #f0f0f0;

  --halcom: "halcom", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

body {
  background-color: var(--grey);
  font-size: 16px;
  font-family: var(--halcom);
  /* overflow-x: hidden; */
}

/********** Navigation **********/

header {
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin: 18px 0 18px 20px;
  height: 48px;
}

.logo img{
  height: 100%;
}

.burger {
  margin-bottom: 0;
  padding-top: auto;
  padding-bottom: auto;
}

.burger .menu {
  position: absolute;
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.05);
  background-color: var(--grey);
  display: none;
  flex-direction: column;
  width: 100vw;
  left: 0;
  top: 100%;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.menu ul{
    list-style-type: none;
    list-style-position: inside;
    margin-left: -40px;
    margin-top: 20px;
}

.bookdropdown{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--blue);
    border-radius: 200px;
    font-weight: 400;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
}
.bookdropdown:hover {
    background-color: white;
    color: var(--blue);
  }

.menu li a{
    display: block;
    text-decoration: none;
    color: var(--blue);
    font-weight: 300;
    font-size: 1.5rem;
    margin-right: 20px;
    width: 65%;
    padding: 5px 2rem 5px 20px;
}
.menu li a:last-child{
    margin-right: 0;
    padding-right: 0;
    width: 100%;
}
.menu li a:hover{
    background-color: var(--blue);
    color: white;
}

.menuicon {
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
    margin: 0;
    margin-right: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 0px;
    padding-left: 20px;
}
.burger:hover .menu{
    display: flex;
}
.menu li {
  position: relative;
    text-align: left;
    margin-bottom: 20px;
}
.menu li:last-child{
    margin-bottom: 10px;
}
.arrow{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    margin: 0 28px 0 0;
    color: var(--blue);
}
.arrow:hover{
  transform: rotateZ(90deg);
}
.closedropdown{
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  position: absolute;
  top: -10px;
  right: 28px;
}
.dropdown{
  width: 100vw;
  display: none;
  background-color: var(--blue);
  padding-top: 10px;
  padding-bottom: 5px;
}
.dropdown li a{
    display: block;
    color: white;
}
.dropdown li a:hover{
  color: var(--blue);
  background-color: white;
}
.arrow:hover+.dropdown{
  display: block;
}
.closedropdown:hover + .dropdown{
  display: none;
}







/********** Content **********/

.hero1 {
  background-image: linear-gradient(rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0.2)), url("../images/bowle1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 280px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
}

h1 {
  color: white;
  margin-top: 0;
  text-align: center;
  margin: auto 0;
  max-width: 10ch;
  font-size: 2.8rem;
}
.hero1 a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: var(--blue);
  border-radius: 200px;
  margin-bottom: auto;
  padding: 5px 15px 5px 15px;
}
.hero1 a:hover {
  background-color: white;
  color: var(--blue);
}

/********** Parkering **********/

.parkering {
    background: #f0f0f0;
    background-image: 
    linear-gradient(rgba(240, 240, 240, 0.9), 
    rgba(240, 240, 240, 0.9)), url("../images/bil.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    margin: 20px 20px;
    padding: 20px 0;
}

.parkering h2 {
  color: var(--blue);
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
}
.parkering h3 {
  color: var(--blue);
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
}

/********** PowerBowling **********/

.power {
  background-image: linear-gradient(rgba(0, 0, 50, 0.4), rgba(0, 0, 50, 0.4)), url("../images/powerpreview.png");
  width: 100vw;
  height: 100vw;
  margin: 0;
  margin-bottom: 15vw;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 50% 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.power h2 {
  color: white;
  padding-top: 15vw;
  text-align: center;
  margin: auto 0;
  max-width: 10ch;
  font-size: 3.5rem;
}

.power a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: var(--blue);
  border-radius: 200px;
  margin: auto 0;
  padding-bottom: 0vw; 
  padding: 5px 10px 5px 10px;
}

.power a:hover {
    background-color: white; 
    color: var(--blue);
}

/********** Buffet **********/

.buffet {
    background-image: url("../images/buffetbillede.jpg");
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
  }
  
  .buffet h2 {
    color: white;   
    padding-top: 35vw; 
    text-align: center;
    margin: 0 auto; 
    max-width: 10ch;
    font-size: 4rem;
  }
  
  .buffet a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--blue);
    border-radius: 200px;
    margin: auto 0;
    padding-bottom: 0vw;  
    padding: 5px 10px 5px 10px;
  }
  
  .buffet a:hover {
      background-color: white; 
      color: var(--blue);
}

/********** Nyhedsbrev **********/

.nyhed {
    background: #f0f0f0;
    background-image: 
    linear-gradient(rgba(240, 240, 240, 0.9), 
    rgba(240, 240, 240, 0.9)), url("../images/nyhedsikon.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center right;
    margin: 10px 10px;
    padding: 10px 0;
    display: flex; 
    align-items: center;
    flex-direction: column;    
}
.nyhed h2 {
  color: var(--blue);
  text-align: center; 
  font-size: 1.5rem;
  margin: 0 auto;
}
.nyhed a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--blue);
    border-radius: 200px;
    margin: auto 0; 
    margin-top: 5vw;   
    padding: 5px 10px 5px 10px;
    text-align: center; 
}
.nyhed a:hover {
    background-color: white; 
    color: var(--blue); 
}

/********** Footer **********/

footer {
  width: 100vw;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  background-color: var(--blue);
}

.kontakt,
.adresse {
  padding-bottom: 5px;
  width: 100%;
  color: white;
  text-align: center;
}

.kontakt {
  padding-top: 18px;
  margin-bottom: 20px;
}

footer h3 {
  margin-bottom: 2px;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

footer hr {
  margin: 0 20px;
  border: none;
  border-top: 1px solid white;
}
footer a {
  font-weight: 200;
  color: rgba(245, 245, 245, 0.87);
  font-size: 1rem;
}
footer p {
  font-weight: 200;
  color: rgba(245, 245, 245, 0.87);
  font-size: 1rem;
  margin-bottom: 1rem;
}


/********** PowerBowling-underside **********/

.hero2 {
  background-image: linear-gradient(rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0.2)), url("../images/neonmobil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 1174px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
}


/********** Fest & Events **********/
.festover
{
  display: flex; 
  align-items: center;
  color: white;
  background-color: var(--blue);
  border-radius: 20px 20px 20px 20px; 
  margin-left: 2vw;
  margin-right: 2vw; 
  margin-top: 4vw;  
  
}

.blå {
  background-image: url("../images/mandag.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding-top: 25vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blå h2 {
  color: white;   
  padding-top: 45vw; 
  text-align: center;
  margin: 0 auto; 
  
  max-width: 5ch; 
  font-size: 4rem; 
}

.blå a {
  text-decoration: none;
  color: white;
  font-weight: 490;
  font-size: 1.0rem;
  background-color: var(--blue);
  border-radius: 200px;
  margin: auto 0; 
  padding-bottom: 50vw;   
  padding: 5px 10px 5px 10px; 
}

.børne {
  background-image: url("../images/baarn.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding-top: 25vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.børne h2 {
  color: white;   
  padding-top: 45vw; 
  text-align: center;
  margin: 0 auto; 
  
  max-width: 5ch; 
  font-size: 4rem;
}

.børne a {
  text-decoration: none;
  color: white;
  font-weight: 490;
  font-size: 1.0rem;
  background-color: var(--blue);
  border-radius: 200px;
  margin: auto 0; 
  padding-bottom: 50vw;   
  padding: 5px 10px 5px 10px; 
}

.klub {
  background-image: url("../images/klub.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding-top: 25vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.klub h2 {
  color: white;   
  padding-top: 45vw; 
  text-align: center;
  margin: 0 auto; 
  
  max-width: 5ch; 
  font-size: 4rem;
}

.klub a {
  text-decoration: none;
  color: white;
  font-weight: 490;
  font-size: 1.0rem;
  background-color: var(--blue);
  border-radius: 200px;
  margin: auto 0; 
  padding-bottom: 50vw;   
  padding: 5px 10px 5px 10px; 
}


