:root{
    --blue: #0f1972;
    --grey: #f0f0f0;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

/********** Navigation **********/

header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 10px 0 0 20px;
    width: 150px;
}

.menuicon{
    width: 30px;
    margin-right: 20px;
}
