:root{
    --blue: #0f1972;
    --grey: #f0f0f0;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

header{
    box-sizing: border-box;
    
}
