@import url("https://use.typekit.net/mao7wyd.css");

:root {
  --blue: #0f1972;
  --grey: #f0f0f0;

  --halcom: "halcom", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

body {
  background-color: var(--grey);
  font-size: 16px;
  font-family: var(--halcom);
  overflow: overlay;
  overflow-x: hidden;
}

/********** Scrollbar **********/

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 200px;
}


/********** Navigation **********/

header {
  background-color: white;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.logo {
  display: block;
  margin: 15px 0 15px 20px;
  height: 50px;
}

.logo img{
  height: 100%;
  width: auto;
}

.burger {
  margin-bottom: 0;
  padding-top: auto;
  padding-bottom: auto;
}

.burger .menu {
  position: absolute;
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.05);
  background-color: var(--grey);
  display: none;
  flex-direction: column;
  width: 100vw;
  left: 0;
  top: 100%;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.menu ul{
    list-style-type: none;
    list-style-position: inside;
    margin-left: -40px;
    margin-top: 20px;
}

.bookdropdown{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--blue);
    border-radius: 200px;
    font-weight: 400;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
}
.bookdropdown:hover {
    background-color: white;
    color: var(--blue);
  }

.menu li a{
    display: block;
    text-decoration: none;
    color: var(--blue);
    font-weight: 300;
    font-size: 1.5rem;
    margin-right: 20px;
    width: 70vw;
    padding: 5px 2rem 5px 20px;
}
.menu li a:last-child{
    margin-right: 20px;
    padding-right: 0;
    width: 100vw;
}
.menu li a:hover{
    background-color: var(--blue);
    color: white;
}

.menuicon {
    position: absolute;
    right: 0;
    top: 23px;
    width: 34px;
    margin: 0;
    margin-right: 20px;
    padding: 0px 0px 30px 20px;
}
.burger:hover .menu{
    display: flex;
}
.menu li {
  position: relative;
    text-align: left;
    margin-bottom: 45px;
}
.menu li:last-child{
    margin-bottom: 20px;
}
.arrow{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    padding: 0 !important;
    margin: 0 28px 0 0;
    color: var(--blue);
    transition: 0.1s;
}
.dropmenu::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 60px;
  top: 0px;
  right: 10px;
}
.dropdown{
  width: 100vw;
  display: none;
  background-color: var(--blue);
  padding-top: 10px;
  padding-bottom: 5px;
}
.dropdown li{
  margin-bottom: 15px;
  margin-right: 45px;
}
.dropdown li a{
    display: block;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 300;
    width: 70vw!important;
    padding: 5px 0 5px 20px !important;
}
.dropdown li a:hover{
  color: var(--blue);
  background-color: white;
}
.dropmenu:hover .dropdown{
  display: block;
}
.dropmenu:hover .arrow{
  transform: rotateZ(90deg);
}

.widemenu{
  display: none;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-right: 20px;
}
.navbar{
  list-style-type: none;
  padding: 0;
  margin-left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.menupunkter{
  display: inline-block;
  margin: 0;
}
.menupunkter a{
  text-decoration: none;
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: 300;
}
.widedropmenu{
  display: none;
}
.book{
  margin-left: auto;
  display: block;
}
.booking{
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  background-color: var(--blue);
  padding: 8px 10px;
  border-radius: 30px;
  font-weight: 400;
  white-space: nowrap;
}
.book a:hover{
  opacity: 0.9;
}

/********** Content **********/

#forside{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.hero1 {
  background-image: linear-gradient(rgba(0, 0, 200, 0.02), rgba(87, 87, 172, 0.6)), url("../images/bowle1.jpeg");
  /* background-image: linear-gradient(rgba(0, 0, 200, 0.3) 25%, rgb(240, 240, 240)), url("../images/bowle1.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 280px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  z-index: 2;
}

.hero1 a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: var(--blue);
  border-radius: 200px;
  box-shadow: 0 0 40px 0px rgba(255, 255, 255, 0.3);
  margin-bottom: auto;
  padding: 5px 15px 5px 15px;
}

h1 {
  color: rgb(255, 255, 255);
  margin-top: 0;
  text-align: center;
  margin: auto 0;
  max-width: 10ch;
  font-size: 2.8rem;
}
.hero1 a:hover {
  background-color: white;
  color: var(--blue);
}

.previewcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bookfollow{
  margin: 0;
  padding: 0;
  margin-bottom: auto;
  position: fixed;
  height: auto;
  top: 90px;
  right: 20px;
}
.bookfollow a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: var(--blue);
  border-radius: 200px;
  box-shadow: 0 0 40px 0px rgba(255, 255, 255, 0.3);
  padding: 5px 15px 5px 15px;
}

/********** Parkering **********/

.parkering {
    background: #f0f0f0;
    background-image: 
    linear-gradient(rgba(240, 240, 240, 0.9), 
    rgba(240, 240, 240, 0.9)), url("../images/bil.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    width: fit-content;
    margin: 20px;
    padding: 20px 0;
}

.parkering h2 {
  color: var(--blue);
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
}
.parkering h3 {
  color: var(--blue);
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
}

/********** Previews **********/

.power, .buffet {
  background-image: linear-gradient(rgba(126, 126, 126, 0.1), rgba(25, 25, 54, 0.8)), url("../images/powerpreview.png");
  width: 100vw;
  height: 100vw;
  margin: 0;
  margin-bottom: 15vw;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 50% 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.buffet {
  background-image: linear-gradient(rgba(126, 126, 126, 0.1), rgba(25, 25, 54, 0.8)), url("../images/buffetbillede.jpg");
  margin-bottom: 20px;
}

.power h2, .buffet h2 {
  color: white;
  padding-top: 0;
  text-align: center;
  margin: 0;
  max-width: 10ch;
  font-size: 3.5rem;
  padding: 0;
}

.buffet h2 { 
  padding: 0;
  font-size: 4rem;
}

.readmore{
  width: fit-content;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  background-color: var(--blue);
  border-radius: 200px;
  margin: 30px 0 0 0;
  padding: 5px 15px;
  box-shadow: 0 0 40px 0px rgba(255, 255, 255, 0.3);
}

.readmore:hover {
    background-color: white; 
    color: var(--blue);
}

/********** Nyhedsbrev **********/

.nyhed {
    background: #f0f0f0;
    background-image: 
    linear-gradient(rgba(240, 240, 240, 0.9), 
    rgba(240, 240, 240, 0.9)), url("../images/nyhedsikon.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center right;
    margin: 0 20px 20px 20px;
    padding: 10px 0;
    display: flex; 
    align-items: center;
    flex-direction: column;    
}
.nyhed h2 {
  color: var(--blue);
  text-align: center; 
  font-size: 1.5rem;
  margin: 0 auto;
}
.nyhed a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--blue);
    border-radius: 200px;
    margin: auto 0; 
    margin-top: 25px;   
    padding: 5px 10px 5px 10px;
    text-align: center; 
}
.nyhed a:hover {
    background-color: white; 
    color: var(--blue); 
}

/********** Footer **********/

footer {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--blue);
}

.kontakt,
.adresse {
  padding-bottom: 5px;
  width: 100%;
  color: white;
  text-align: center;
}

.kontakt {
  padding-top: 18px;
  margin-bottom: 0px;
}

footer h3 {
  margin-bottom: 2px;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

footer hr {
  margin: 0 20px;
  border: none;
  border-top: 1px solid white;
}
footer a {
  font-weight: 200;
  color: rgba(245, 245, 245, 0.87);
  font-size: 1rem;
}
footer p {
  font-weight: 200;
  color: rgba(245, 245, 245, 0.87);
  font-size: 1rem;
  margin-bottom: 1rem;
}


/********** PowerBowling-underside **********/

.powerbowl {
  background-image: url("../images/seamwall.webp");
  background-repeat:repeat;
  background-size: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  overflow-x: hidden;
}
.powerbowl a {
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(138, 218, 255);
  text-shadow:
  0px 0 10px rgb(50, 173, 255),
  0px 0 30px rgb(8, 197, 255),
  0px 0 100px rgb(64, 173, 224);
  text-decoration: none;
  padding: 10px;
  border: 2.5px solid rgb(138, 218, 255); 
  border-radius: 20px;
  box-shadow: 
  0px 0 10px -10px rgb(135, 226, 217),
  0px 0 100px 0px rgb(8, 197, 255);
  background-color: rgba(8, 197, 255, 0.3);
  letter-spacing: -2px;
}
.powerbowl a:hover, .powerbowl a:focus{
  filter: hue-rotate(110deg);
}
.neonsign{
  width: 250vw;
  max-width: 480px;
  height: auto;
  margin: -30px 0 -50px 0;
}
.poster{
  width: 70vw;
  max-width: 300px;
  height: auto;
  margin: 0px auto 30px auto;
}

#powerinfo article{
  margin: 0 0 20px 0;
}

#powerinfo h1, #powerinfo h2{
  margin: 10px 20px 5px 20px;
  font-size: 1.25rem;
  color: var(--blue);
  max-width: none;
  text-align: left;
}

#powerinfo h2{
  margin: 20px 20px 5px 20px;;
}
.infotab{
  background-color: var(--grey);
}
.infotab[open] > summary{
  border-bottom: 1px solid var(--blue);
}
.infotab p{
  margin: 5px 20px;
}
.infotab summary{
  padding: 10px 20px;
  color: var(--blue);
  font-size: 1.5rem;
  background-color: var(--grey);
}

/********** Video **********/

.videocontainer{
  width: 100vw;
  max-width: 500px;
  height: auto;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}

#video{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.videooverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 0.2;
  background-image: linear-gradient(rgba(255, 255, 255, 0.103) 40%, rgb(20, 46, 119));
}


/********** Fest & Events **********/
.festevents.html h1
{
  display: flex;
  text-align: center;
  color: var(--blue); 
}

.blå, .børne, .klub {
  height: 100%; 
  font-size: 4vw; 
  margin: 5vw; 
  display: flex;
  color: white; 
  flex-direction: column;
  background-color: var(--blue);
  border-radius: 20px; 
  position: relative; 
  z-index: 20; 
}

.blå::before, .børne::before, .klub::before {
  content: ''; 
  background-image: url("../images/kuglekegle.svg");
  background-repeat: no-repeat; 
  background-size: 50%; 
  background-position: 50% 100%; 
  position: absolute;
  width: 100%; 
  height: 100%;
  opacity: 0.1; 
  z-index: -1; 
}

.blå h2, .klub h2, .børne h2 {
  color: white;  
  text-align: center;
  margin: 0 auto; 
  max-width: 5ch; 
  font-size: 4rem; 
  z-index: 20; 
}

.blå a, .klub a, .børne a  {
  text-decoration: none;
  color: white;
  font-weight: 490;
  font-size: 1.0rem;
  background-color: var(--blue);
  border-radius: 200px;
  margin: auto 0;    
  padding: 5px 10px 5px 10px; 
}
.blå a:hover, .klub a:hover, .børne a:hover 
{
  background-color: white; 
  color: var(--blue); 
}

/********** Nyhedsbrev **********/
.baggrundnyhed
{
  opacity: 0.10;
  position: fixed; 
  top: 145px;
  bottom: 0; 
  width: 55.35vh; 
  height: 55.35vh; 
  z-index: -5000; 
}

.overnyhed 
{
  display: flex;
  justify-content: center;
  padding-top: 3vw; 
  padding-left: auto; 
  padding-right: auto;
  color: var(--blue); 
}

.undernyhed
{
  color: var(--blue);
  margin-left: 3vw; 
  font-weight: 500; 
}

.underpunkterny 
{
  color: var(--blue);
  font-size: 1.3rem;  
  font-weight: 400; 
}

.underpunkterny li 
{
  margin: 0 0 10px 0; 
}

#inputtekst
{
  display: flex; 
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px; 
}

#fornavn, #efternavn, #email
{
  margin-bottom: 3vw;
  margin-left: 3vw; 
  margin-right: 3vw;
  border-radius: 4px;
  border: 2px solid var(--blue);  
  font: var(--halcom);
  font-weight: 500; 
  text-align: center;  
}

#tilmeldknap
{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: var(--blue);
  border-radius: 4px; 
  margin-bottom: 3vw;
  margin-left: 3vw; 
  margin-right: 3vw;
  padding: 5px 5px 5px 5px;
  display: flex; 
  justify-content: center;
}

#tilmeldknap::after {
  content: '';
  width: 7.5%;
  height: 7.5%;
  right: 15px;
  opacity: 0.7; 
  background-image: url("../images/nyhedsikonhvid.png");
  position: absolute; 
  background-size: contain;
  background-repeat: no-repeat;  
}

@media screen and (min-width: 840px) {
  .burger{
    display: none;
  }
  .logo {
    display: block;
    margin: 15px 0px 15px 20px;
    height: 50px;
    padding: 0;
  }
  .widemenu{
    display: flex;
  }
  
}

@media screen and (min-width: 1000px) {
  
  /********** Navigation **********/

  .navbar{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  /********** PowerBowling-underside **********/

  .powerbowl {
    background-image: url("../images/seamwall.webp");
    background-repeat:repeat;
    background-size: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    overflow-x: hidden;
  }
  .powerbowl a {
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    color: rgb(138, 218, 255);
    text-shadow:
    0px 0 10px rgb(50, 173, 255),
    0px 0 30px rgb(8, 197, 255),
    0px 0 100px rgb(64, 173, 224);
    text-decoration: none;
    padding: 10px;
    border: 2.5px solid rgb(138, 218, 255); 
    border-radius: 20px;
    box-shadow: 
    0px 0 10px -10px rgb(135, 226, 217),
    0px 0 100px 0px rgb(8, 197, 255);
    background-color: rgba(8, 197, 255, 0.3);
    letter-spacing: -2px;
  }
  .powerbowl a:hover, .powerbowl a:focus{
    filter: hue-rotate(110deg);
  }
  .neonsign{
    width: 250vw;
    max-width: 480px;
    height: auto;
    margin: -30px 0 -50px 0;
  }
  .poster{
    width: 70vw;
    max-width: 300px;
    height: auto;
    margin: 0px auto 30px auto;
  }

  #powerinfo article{
    margin: 0 0 20px 0;
  }

  #powerinfo h1, #powerinfo h2{
    margin: 10px 20px 5px 20px;
    font-size: 1.25rem;
    color: var(--blue);
    max-width: none;
    text-align: left;
  }

  #powerinfo h2{
    margin: 20px 20px 5px 20px;;
  }
  .infotab{
    background-color: var(--grey);
  }
  .infotab[open] > summary{
    border-bottom: 1px solid var(--blue);
  }
  .infotab p{
    margin: 5px 20px;
  }
  .infotab summary{
    padding: 10px 20px;
    color: var(--blue);
    font-size: 1.5rem;
    background-color: var(--grey);
  }

  /********** Video **********/

  .videocontainer{
    width: 100vw;
    max-width: 500px;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
  }

  #video{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  .videooverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0.2;
    background-image: linear-gradient(rgba(255, 255, 255, 0.103) 40%, rgb(20, 46, 119));
  }
}
